
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Internal.cshtml";
}

<h2>Success</h2>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div>
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Shopping Successful</h3>
                    </div>
                    <div class="card-body">
                        <p>Done shopping.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

